@page "/"

<PageTitle>Welcome to Eleven Note Blazor Server Edition</PageTitle>

<h1>Application Documentation (how this thing works):</h1>

<p></p>
<SurveyPrompt Title="How is Blazor working for you?" />
